/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins" ,sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}
body{
    overflow-x: hidden;
}
/*css of loading*/
.resto-loading{
    width: 100%;
    min-height: 100vh;
    margin-top: 16rem;
    align-items: center;
    justify-content:  center;
}
.loader {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    /* Plate */
    .plate {
      width: 80px;
      height: 80px;
      border: 5px solid orange;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: spin 3s linear infinite;
      position: relative;
      background: white;
      box-shadow: 0 0 25px rgba(53, 27, 2, 0.6);
    }

    .plate::before {
      content: "🍽️";
      font-size: 40px;
    }

    /* Steam */
    .steam {
      display: flex;
      gap: 6px;
      position: absolute;
      top: -50px;
    }

    .steam div {
      width: 6px;
      height: 20px;
      background: orange;
      border-radius: 50px;
      animation: rise 2s ease-in-out infinite;
    }

    .steam div:nth-child(2) {
      animation-delay: 0.3s;
    }
    .steam div:nth-child(3) {
      animation-delay: 0.6s;
    }

    @keyframes spin {
      0% { transform: rotate(0); }
      100% { transform: rotate(360deg); }
    }

    @keyframes rise {
      0% { transform: translateY(20px); opacity: 0; }
      50% { opacity: 1; }
      100% { transform: translateY(-20px); opacity: 0; }
    }

    /* Loading text */
    .text {
      margin-top: 40px;
      font-size: 18px;
      font-family: cursive;
      font-weight: bold;
      color: rgb(54, 8, 8);
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    .text span {
      color: rgb(54, 37, 6);
    }

    #content{
      display: none;
    }
    #contenti{
        display: none;
    }

header{
    width: 100%;
    height: 70px;
    backdrop-filter: blur(20px);
    z-index: 5;
    display: block;
    justify-content: center;
    align-items: center;
    position: fixed;
}
nav{
    width: 90%;
    display: flex;
    align-items: center;
    margin-left: 60px;
    margin-top: 10px;
    justify-content: space-between;

}

.nav-cont{
    display: flex;
    gap: 20px;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

nav ul li a{
    color: black;
}

nav ul li a:hover{
    color: orange;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333;
}

.logo h3{
    color: orange;
    font-family: cursive;
}

.order{
    padding: 10px 15px;
    border-radius: 20px;
    background-color: orange;
    border: 1px solid orange;
    color: white;
    cursor: pointer;
    transition: 0.5s ease;
}

.order:hover{
    background-color: transparent;
    color: orange;
}

.span{
    border: 1px;
    border-radius: 40px;
    padding: 10px;
    width: 5px;
    height: 5px;
    position: absolute;
    background-color: orangered;
    font-weight: 600;
    margin-left: 81rem;
    margin-top: -45px;
}
.span p{
    text-align: center;
    margin-top: -5px;
    margin-left: -2px;
}

.homepage{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(247, 241, 235);
}
.home{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    flex-wrap: wrap;
}
.home .content{
    flex-grow: 1;
    flex-basis: 200;
    margin: 50px;
}
.home .content h1{
    font-size: 2.5rem;
    font-family: cursive;
    font-weight: 600;
    color: rgb(180, 58, 10);
   
}
.content h3{
    font-weight: 1000;
    font-size: 1.5rem;
}
.content p{
    font-size: 1.2rem;
    font-weight: 500;
    margin: auto;
    color: black;
}
.image img{
    width: 400px;
    height: 400px;
    margin: 50px;
    mix-blend-mode: multiply;
    border-radius: 600px;
    box-shadow: 0 0 20px;
    flex-grow: 1;
    flex-basis: 200;
}
.image img:hover{
   transform: rotate(180deg);
    transition: 2s ease;
}
.buttons{
    margin-top: 25px;
    display: flex;
    gap: 30px;
}
.btn1{
    border-radius: 40px;
    padding: 10px 15px;
    background-color: orangered;
    color: rgb(255, 255, 255);
    transition: .5s ease;
}
.btn2{
    border-radius: 40px;
    padding: 10px 15px;
    background: orangered;
    color: rgb(255, 255, 255);
    transition: .5s ease;
}
.btn1:hover{
    background-color:antiquewhite;
    color: rgb(0, 0, 0);
}
.btn2:hover{
    background-color: antiquewhite;
    color: rgb(0, 0, 0);
}  
.Menu{
    width: 100%;
    min-height: 200vh;
    background-color: whitesmoke;
}
.Menu h1{
    color: rgb(46, 33, 8);
    text-align: center;
    margin-top: 50px;
    font-size: 2.5rem;
}
.content{
    align-items: center;
    justify-content: center;
}
.content h2{
    font-size: 3rem;
    text-align: center;
    color: rgb(77, 28, 10);
}
.kind{
    justify-content: center;
    gap: 30px;
    display: flex;
    white-space: nowrap;
    list-style: none;
    padding: 20px;
    position: sticky;
}
.kind::-webkit-scrollbar{
    display: none;
}
.kind li a{
   color: black;
   font-size: 1rem;
   border: 2px solid orangered;
   padding: 10px 35px 10px;
   border-radius: 30px;
}
.kind li a:hover{
background-color: antiquewhite;
color: black;
transition: .5s ease;
}
.food{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    justify-content: center;
    align-items: center;
    margin: -10px 50px;
    width: 100%;
    padding-bottom: 25px;
}
.food-content{
    border-radius: 25px;
    width: 280px;
    height: 450px;
    margin-top: 100px;
    padding-bottom: 50px;
    box-shadow: 0 0 20px rgba(150, 150, 150, 0.393);
    transition: .5s ease;
    mix-blend-mode: multiply;
}
.food-content:hover{
    transform: translateY(-10px);
    box-shadow: 0 20px 20px rgba(150, 150, 150, 0.565);
    mix-blend-mode: multiply;
}
.food-content img{
width: 200px;
height: 200px;
margin-left: 40px;
margin-top: 40px;
opacity: 1;
border-radius: 20px;
mix-blend-mode: multiply;
}
.food-content h2{
    text-align: center;
}
.ratings img{
    width: 180px;
    height: 80px;
    margin-top: -40px;
    margin-left: 55px;
    mix-blend-mode: multiply;
}
.ratings img:hover{
    mix-blend-mode: multiply;

}
.food-content p{
    text-align: center;
    color: rgb(56, 55, 55);
    font-weight: 600;
}
.price-content{
display: flex;
justify-content: space-between;
align-items: center;
margin: 10px;
}
.price-content p{
    font-weight: 900;
    font-size: 1rem;
    color: black;
}
.price-content a{
    margin-left: 0px;
    border-radius: 25px;
    padding: 10px 16px;
    color: white;
    background-color: orangered;
    font-size: 1rem;
}
.price-content a:hover{
    background-color:transparent;
    color: orangered;
    transition: .5s ease;
    box-shadow: 0 0 15px;
}
.food2{
    gap: 5px;
    margin-top: -50px;
}
.reservation{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(247, 241, 235);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.reserve-cont{
    flex-grow: 1;
    flex-basis: 200;
    margin: 30px;
}
.reserve-cont h2{
    font-size: 2.5rem;
    font-weight: 600;

}
.reserve-cont p{
    color: rgb(95, 91, 91);
    margin-top: 10px;
    font-size: 1.2rem;
    line-height: 1.5;
}
.reserve{
    border-radius: 30px;
    background: orangered;
    color: white;
    padding: 10px 30px;
    font-size: 1rem;
}
.reserve:hover{
    color: orangered;
    background: transparent;
    border: 1px solid orangered;
    transition: .5s ease;
}
.reservation img{
    width: 520px;
    height: 520px;
    margin: 20px;
    mix-blend-mode: multiply;
}
.about{
    width: 100%;
    min-height: 100vh;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.about-content{
    margin-left: 160px;
    margin-top: 50px;
}
.about-content h1{
    font-size: 3rem;
    font-weight: 600;
    color: black;
    word-spacing: 5px;
}
.about-content img{
    width: 70px;
    height: 100px;
    position: absolute;
    margin-top: -25px ;
    mix-blend-mode: multiply;
}
.about-content p{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(82, 77, 77);
    line-height: 1.5;
}
.about-content a{
    border-radius: 30px;
    background: orangered;
    color: white;
    padding: 10px 30px;
    font-size: 1rem;
}
.about-content a:hover{
    color: orangered;
    background: transparent;
    border: 1px solid orangered;
    transition: .5s ease;
}
.aboutimage{
    flex-grow: 1;
    flex-basis: 200;
    width: 400px;
    height: 400px;
    mix-blend-mode: multiply;
}
.reviews{
    width: 100%;
    min-height: 90vh;
    background-color: rgb(247, 241, 235);
}
.review-cont h1{
    font-size: 2rem;
}
.slide{
    display: flex;
    gap: 15px;
    justify-content: right;
    margin-top: -33px;
    margin-right: 50px;
}
.left{
    border: 2px  orangered;
    width: 29px;
    height: 29px;
    border-radius: 40px;
    padding: 5px;
    transform: rotate(180deg);
    mix-blend-mode: multiply;
    box-shadow: 0 0 10px rgb(240, 129, 89);
}
.left:hover{
    background-color: orangered;
    transition: .5s ease;
}
.left img{
   width: 30px;
   height: 30px;
   border-radius: 30px;
   top: 10px;
   mix-blend-mode: multiply;
}
.right{
    border: 2px  orangered;
    width: 29px;
    height: 29px;
    border-radius: 40px;
    padding: 5px;
    box-shadow: 0 0 10px rgb(235, 122, 81);
   
}
.right:hover{
    background-color: orangered;
    transition: .5s ease;
}
.right img{
width: 30px;
height: 30px;
border-radius: 30px;
top: 10px;
mix-blend-mode: multiply;
}
.review-box{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.review-cont h1{
    font-size: 2.4rem;
    margin-left: 50px;
}
.box{
    border: 1px solid black;
    border-radius: 20px;
    width: 350px;
    margin-top: 120px;
    padding: 20px;
    background-color: rgb(247, 242, 240);
    flex-grow: 1;
    flex-basis: 200;
    margin: 10px;
}
.box-content{
    color: #333;
}
.circle{
    display: flex;
    align-items: center;
}
.circle img{
    border: 1px solid #333;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.blogs{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: white;
}
.blog-image img{
    width: 440px;
    height: 440px;
    mix-blend-mode: multiply;
    border-radius: 50px;
    margin: 20px;
    box-shadow: 0 0 15px  color-mix(in srgb-linear, color percentage, color percentage);
}
.blog-content{
    margin: 20px;
}
.blog-content h2{
    font-size: 2.5rem;
    font-weight: 600;
}
.blog-content p{
    color: rgb(68, 68, 68);
    font-weight: 600;
}
.blog-content ul{
    margin-left: 30px;
    gap: 20px;
    padding: 20px;
}
.blog-content .ul{
    display: flex;
}

.blog-content ul li{
    list-style: circle;
    color: orange;
    font-size: 1.2rem;
    font-weight: 700;
}
.blog-content ul li:hover{
 text-decoration: underline;
 cursor: pointer;
}
.blog-content a{
    color: white;
    font-size: 1rem;
    background-color: orangered;
    border-radius: 40px;
    padding: 10px 20px;
    text-align: right;
    transition: .5s ease;
}
.blog-content a:hover{
    color: orangered;
    background-color:transparent;
    border: 1px solid orangered;
}
.contact{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: antiquewhite;
}

.contact-info{
    width: 500px;
    flex-grow: 1;
    flex-basis: 200;
    margin: 30px;
}

.contact-info h1{
    font-size: 3rem;
}

.contact-info p{
    padding: 10px 0;
}

.contact-info .addres img{
    width: 30px;
    height: 30px;
    mix-blend-mode: multiply;
}

.contact-info h2{
    text-transform: uppercase;
}

.contact-info .social img{
    width: 50px;
    height: 50px;
    margin-top: 20px;
    padding-left: 20px;
    mix-blend-mode: multiply;
}
.contact-info .social img:hover{
    transform: scale(1.3);
    transition: .5s ease;
}

footer{
    padding:40px 30px;
   background: linear-gradient(to right, rgb(100, 64, 47),rgb(235, 126, 87),rgb(247, 192, 120));
}


.footer-cont{
    display: flex;
    flex-wrap: wrap;
}
.footer-cont img{
width: 80px;
height: 80px;
transform: rotate(50deg);
}

.logofooter{
    padding: 20px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-basis: 200;
}
.logofooter h2{
    font-size: 2rem;
    line-height: 1.2;
    font-family: cursive;
    color: rgb(247, 120, 17);
}

.links{
    width: 200px;
    flex-grow: 1;
    flex-basis: 200;
    padding: 10px;
}
.links h4{
    font-size: 20px;
    color: white;
}
.links ul{
    list-style: none;
}

.links li{
    margin: 10px 0;
}
.links ul li a{
   color: antiquewhite;
}
.links ul li a:hover{
    text-decoration: underline;
    transition: .5s ease;
}
.line{
    border: 1px solid rgb(88, 65, 44);
}
footer p{
    color: antiquewhite;
    text-align: center;
}

/* css for back to top btn */
#backToTopBtn {
    position: fixed; 
    bottom: 40px; 
    right: 40px; 
    z-index: 99; 
    border: none;
    outline: none;
    display: none;
    background-color: #7a2a04; 
    color: white; 
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 18px;
    transition: opacity 0.3s; 
}

#backToTopBtn:hover {
    background-color: #77490e; 
}

/* responsive css */
#menu{
    width: 40px;
    display: none;
}

#close{
    display: none;
}

@media (max-width:480px){
    header{
        height: 80px;
        font-size: 14px;
    }
    header nav{
        width: 90%;
        margin-left: 20px;
    }

    .nav-cont{
        display: flex;
        flex-direction: column;
        padding: 50px 0px;
        width: 80%;
        height: 100vh;
        background-color: white;
        backdrop-filter: blur(20px);
        z-index: 5;
        overflow: hidden;
        position: fixed;
        top: 0;
        right: 0;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.387);
        transition: transform 0.5s ease;
        transform: translateX(105%);
        text-align: center;

    }
    .nav-cont ul{
        margin: 50px;
        display: flex;
        flex-direction: column;
    }
    #menu{
        display: block;
    }
    #close{
        display: block;
        position: absolute;
        top: 30px;
        right: 50px;
        z-index: 2;
    }
    #close{
        width: 30px;
    }
    #backToTopBtn{
        bottom: 20px;
        right: 15px;
        z-index: 5;
        overflow: hidden;
    }
    .home .content{
     width: 10px;  
     margin-top: 100px;
     font-size: 1rem;
    }
    .home .content img{
    width: 40px;
    height: 35px;
    }
    .image img{
        margin-left: 15px;
        width: 350px;
        height: 350px;

    }
    .kind{
      overflow-x: auto;
      display: flex;
    }
    
    .reservation img{
        width: 380px;
        height: 380px;
        margin-right: 10px;
    }
    .blog-image img{
        display: none;
    }
    .about-content h1{
        margin-left: -120px;
    }
    .about-content p{
        margin-left: -120px;
    }
    .about-content a{
      padding: 10px 30px;
      margin-left: -40px;
    }
   .about-content a .faqs{
        margin-left: -200px;
    }
    .form{
        margin: 20px;
    }
    .input-group input{
      width: 150px;
    }
    form textarea{
        width: 330px;
    }
    form button{
        width: 355px;
    }
   
}